.search-form {
    display: none;
}

.admin__content {
    margin: 0 auto;
    padding: 50px 0;
    min-height: 90vh;
}

.admin-header {
    margin: 0 auto 40px;
}

.admin-heading {
    font-size: 36px;
    margin: 0;
    text-align: center;
}

.user-content {
    max-width: 600px;
    margin: 0 auto;
}

.user-content__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.user-content__header,
.user-content__text {
    width: 50%;
    font-size: 24px;
    margin: 0;
    flex-shrink: 0;
}

/* .user-content__header--mail {
    width: 75%;
    font-size: 24px;
    margin: 0;
}

.user-content__text--mail {
    width: 40%;
    font-size: 24px;
    margin: 0;
} */

.user-content__form {
    /* width: 35%; */
    display: flex;
    justify-content: flex-end;
}

.delete-form {
    margin-right: 50px;
}

.delete-form__button-submit,
.comment-form__button-submit {
    padding: 5px 20px;
    border: 2px solid #FF5555;
    background: transparent;
    color: #FF5555;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .admin__content {
        padding: 50px 15px;
    }

    .admin-heading {
        font-size: 30px;
    }

    .user-content {
        max-width: 400px;
    }

    .user-content__row {
        margin-bottom: 20px;
    }

    .user-content__header,
    .user-content__text {
        width: 45%;
        font-size: 18px;
    }

    .delete-form {
        margin-right: 10px;
    }

    .delete-form__button-submit,
    .comment-form__button-submit {
        padding: 3px 6px;
        font-size: 18px;
    }
}
