.comment__content {
    margin: 0 auto;
    padding: 100px 30px;
    min-height: 90vh;
}

.comment__section {
    display: flex;
    justify-content: center;
}

.item__img--section {
    width: 50%;
    max-width: 451px;
    /* height: 548px; */
}

.item__img {
    width: 100%;
}

.item-comment__content {
    width: 50%;
    max-width: 461px;
    margin-left: 100px;
}

.item__ttl {
    font-size: 48px;
    margin: 0;
}

.item__brand {
    font-size: 24px;
    margin: 0;
}

.item__price--content {
    font-size: 36px;
    margin: 30px 0;
}

.item__icon {
    display: flex;
}

.item__icon--like,
.item__icon--comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__icon--img {
    width: 40px;
    height: 40px;
}

.item__likes--count,
.item__comments--count {
    font-size: 18px;
    margin: 0;
}

.item__icon--comment {
    margin-left: 60px;
}

.comment__group {
    margin-top: 100px;
}

.comment__group-item {
    margin-top: 20px;
}

.comment__user {
    display: flex;
    align-items: center;
}

.comment__group-item:nth-of-type(3n) .comment__user {
    flex-direction: row-reverse;
}

.comment__user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment__user-name {
    font-size: 20px;
    margin: 0 5px;
}

.comment__text {
    max-width: 461px;
    width: 100%;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 20px;
    margin-top: 5px;
    padding: 15px;
    /* 改行して表示 */
    white-space: pre-wrap;
}

.comment__form {
    margin-top: 80px;
}

.form__label {
    font-size: 20px;
}

.form__textarea textarea {
    max-width: 460px;
    width: 100%;
    height: 155px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 20px;
    padding: 15px;
}

.form__button-submit {
    padding: 5px 40px;
    max-width: 452px;
    width: 100%;
    height: 57px;
    border: none;
    background: #FF5555;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 30px;
    border-radius: 4px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .comment__content {
        padding: 50px 20px;
    }

    .comment__section {
        display: block;
        width: 400px;
        max-width: 100%;
        margin: 0 auto;
    }

    .item__img--section {
        width: 100%;
        margin: 0 auto;
    }

    .item-comment__content {
        margin: 40px auto 0;
        width: 100%;
    }

    .item__ttl {
        font-size: 40px;
    }

    .item__brand {
        font-size: 20px;
    }

    .item__price--content {
        font-size: 30px;
    }

    .comment__group {
        margin-top: 60px;
    }

    .comment__user-name {
        font-size: 18px;
    }

    .comment__text {
        font-size: 18px;
        padding: 10px;
    }

    .form__label {
        font-size: 18px;
    }

    .comment__form {
        margin-top: 60px;
    }

    .form__textarea textarea {
        height: 140px;
        font-size: 18px;
        padding: 15px 10px;
    }

    .form__button-submit {
        padding: 5px 10px;
        height: 45px;
        font-size: 24px;
    }
}
