.my-page__content {
    margin: 0 auto;
    padding: 50px 0;
    min-height: 90vh;
}

.my-page__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.my-page__user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px 20px;
}

.my-page__user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.my-page__user-name {
    font-size: 36px;
    margin-left: 30px;
}

.my-page__form {
    margin: 0 150px;
}

.my-page__form__button {
    padding: 5px;
    width: 310px;
    height: 59px;
    border: 2px solid #FF5555;
    background: transparent;
    color: #FF5555;
    cursor: pointer;
    font-size: 26px;
    border-radius: 10px;
}

.my-page__main {
    flex-wrap: wrap;
    display: flex;
    margin-top: 50px;
}

.my-page__tab--label {
    width: 155px;
    height: 40px;
    margin-left: 150px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
    color: #5F5F5F;
    font-size: 24px;
}

.my-page__tab--input {
    display: none;
}

.my-page__tab--input:checked+.my-page__tab--label {
    color: #FF0000;
    font-size: 24px;
}

.my-page__tab--content {
    display: none;
    width: 100%;
    border-top: 2px solid #5F5F5F;
}

.my-page__tab--input:checked+.my-page__tab--label+.my-page__tab--content {
    display: block;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.my-page__item {
    width: 200px;
    height: 200px;
    margin: 30px 30px 0;
}

.my-page__img {
    width: 100%;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .my-page__content {
        padding: 30px 0;
    }

    .my-page__header {
        display: block;
    }

    .my-page__user {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto 20px;
        min-width: 250px;
        width: auto;
    }

    .my-page__user-image {
        margin: 0 10px 0;
    }

    .my-page__user-name {
        font-size: 30px;
        margin: 0 10px 0;
    }

    .my-page__form {
        margin: 0 auto;
        width: 300px;
    }

    .form {
        display: flex;
        justify-content: center;
    }

    .my-page__form__button {
        width: 250px;
        height: 45px;
        font-size: 20px;
    }

    .my-page__tab--label {
        width: auto;
        margin-left: 22px;
        font-size: 20px;
    }

    .my-page__tab--input:checked+.my-page__tab--label {
        font-size: 20px;
    }

    .my-page__tab--content {
        padding: 20px 0;
    }
}
