.search-form {
    display: none;
}

.user-comment__content {
    margin: 0 auto;
    padding: 50px 100px;
    min-height: 90vh;
}

.user-comment__header {
    margin: 0 auto 40px;
}

.user-comment__heading {
    font-size: 36px;
    margin: 0;
    text-align: center;
}

.comment-content__row {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #5F5F5F;
}

.comment-content__header,
.comment-content__text {
    width: 25%;
    font-size: 24px;
    margin: 0;
}

.comment-content__header--comment {
    width: 75%;
    font-size: 24px;
    margin: 0;
}

.comment-content__text--comment {
    width: 55%;
    font-size: 24px;
    margin: 0;
    /* 改行して表示 */
    white-space: pre-wrap;
}

.comment-content__form {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.delete-form__button-submit {
    padding: 5px 20px;
    border: 2px solid #FF5555;
    background: transparent;
    color: #FF5555;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
}

.sp_br {
    display: none;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .user-comment__content {
        padding: 50px 20px;
    }

    .user-comment__heading {
        font-size: 30px;
    }

    .comment-content__row {
        padding: 10px;
    }

    .comment-content__header,
    .comment-content__text {
        font-size: 18px;
    }

    .comment-content__header--comment {
        font-size: 18px;
    }

    .comment-content__text--comment {
        font-size: 18px;
    }

    .delete-form__button-submit {
        padding: 5px;
        font-size: 17px;
    }

    .sp_br {
        display: block;
    }
}
